$breakPoint1: 840px;
$breakPoint2: 540px;

$headerHeight: 60px;

$footerHeight: 90px;
// $color1: #3174b5;
$color1: #5b6168;
$color2: #ce468a;
$fontColor1: rgb(0, 0, 0);

$color3: #3b5d8f;
$color4: #6688cc;
$color5: #acbfe6;