@use "./destyle";
@use "./_utils";
@use "./_scroll";
@use "./_common";
@use "./modal";
@use "./variables" as vrs;
@use "./mixins" as mx;

body {
    font-size: 16px;
    color: vrs.$fontColor1;
    letter-spacing: 0.1rem;
    overflow-x: hidden;
    main {
        position: relative;
        padding-bottom: vrs.$footerHeight;
    }
    header {
        @include mx.shadow();
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: vrs.$headerHeight1;
        padding: 10px 10px;
        background-color: white;

        .left {
            @include mx.center();
            cursor: pointer;
            h1 {
                font-size: 1.1rem;
                margin-left: 3px;
            }
            img {
                width: 70px;
            }
        }
        .right {
            display: none;
            ul {
                @include mx.center();
                li {
                    font-size: 1.05rem;
                    margin-left: 10px;
                }
            }
        }
    }
    .sections {
        padding-bottom: 10px;
        section {
            max-width: 980px;
            margin: 0 auto;
            .content {
                @include mx.center();
                flex-flow: column;
                height: 100%;
                margin: 0 auto;
                // border: 2px solid rgba(46, 63, 216, 0.082);
                .title {
                    color: vrs.$fontColor1;
                }
                .subTitle {
                    text-align: center;
                }
            }
        }
    }
    #KeyVisual {
        margin-top: vrs.$headerHeight1;
        margin: vrs.$headerHeight1 auto auto;
        background-image: url("/images/keyVisual2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        width: 100%;
        height: 190px;
    }
    #Trouble {
        padding: 40px 10px 10px 10px;
        // background-color: #bae8e8;
        .titles {
            .title {
                text-align: center;
                font-size: 1.3rem;
                font-weight: 700;
            }
        }
        .texts {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-top: 20px;
            line-height: 1.5;
            text-align: center;
        }
        .exImg {
            margin: 0 auto;
            margin-top: 10px;
            height: 250px;
            width: 100%;
            background-image: url("/images/troubleImg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    #About {
        .About_child {
            padding: 32px 16px 0px 16px;
            line-height: 1.75;
            border: 3px solid #eeeeee;
            border-radius: 16px;
            margin-top: 10px;
            .title {
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
            }
            .texts {
                margin-top: 20px;
                font-size: 1rem;
                text-align: center;
                letter-spacing: 0.04rem;
            }
            .img {
                @include mx.center();
                height: 170px;
                img {
                    height: 100%;
                }
            }

            .how2support {
                line-height: 1.2;
                .subTitle {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: 600;
                    width: fit-content;
                    padding: 0 22px;
                    margin: 0 auto;
                    font-size: 0.95rem;
                    letter-spacing: 0.04rem;
                    &:not(:first-of-type) {
                        margin-top: 25px;
                    }
                    &:last-of-type {
                        margin-bottom: 25px;
                    }
                    &::before {
                        display: none;

                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        content: attr(data-icon);
                    }
                    &::after {
                        display: none;

                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        content: attr(data-icon);
                    }
                }
                ul {
                    display: none;
                    margin-top: 10px;
                    list-style: disc;
                    li {
                        margin-top: 5px;
                        margin-left: 25px;
                    }
                }
            }

            &:first-of-type {
                padding-bottom: 32px;
                .title {
                    .chon2 {
                        position: relative;
                        &::after {
                            position: absolute;
                            top: -25px;
                            right: -25px;

                            display: inline-block;
                            content: "";
                            background-image: url("../assets/chonPink.webp");
                            background-size: 28px;
                            background-repeat: no-repeat;
                            transform: rotateY(180deg) rotateZ(-15deg);
                            background-position: center;
                            width: 40px !important;
                            height: 40px !important;
                        }
                        &::before {
                            position: absolute;
                            top: -25px;
                            left: -30px;
                            display: inline-block;
                            content: "";
                            background-image: url("../assets/chonPink.webp");
                            background-size: 28px;
                            background-repeat: no-repeat;
                            transform: rotateZ(-20deg);
                            background-position: center;
                            width: 40px !important;
                            height: 40px !important;
                        }
                    }
                    .present {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: center;
                        &::after {
                            display: inline-block;
                            content: "";
                            background-image: url("../assets/present.webp");
                            background-size: 50px;
                            background-position: center;
                            width: 25px !important;
                            height: 25px !important;
                        }
                    }
                }
                .texts {
                    font-size: 1rem !important;
                    .fs-ajust1 {
                        font-size: 0.95rem;
                    }
                    .fs-ajust2 {
                        font-size: 0.8rem !important;
                    }
                }
            }
        }
    }
    #Apps {
        .appsSwiper {
            margin-top: 10px !important;
            padding: 32px 0 16px 0;
            border: 3px solid #eeeeee;
            border-radius: 16px;
            .title {
                text-align: center;
            }
            .subTitle {
                text-align: center;
                font-size: 1.3rem;
                line-height: 1.3rem;
                .chonPink {
                    font-size: 2rem !important;
                }
            }
            .swiper {
                margin-top: 10px;
                .swiper-slide {
                    height: fit-content !important;
                    .icon_title {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        margin-top: 20px;
                        .appIcon {
                            $size: 85px;
                            img {
                                width: $size !important;
                                aspect-ratio: 1/1 !important;
                            }
                        }
                        .appName {
                            margin-top: 10px;
                            text-align: center;
                            font-size: 0.8rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    #Flow {
        margin-top: 10px;
        .inner {
            .content {
                padding: 32px 16px 0;
                border-radius: 16px;
                border: 3px solid #eeeeee;
                // background-color: #bae8e8;
                .flowTitle {
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                ul {
                    margin-top: 30px;
                    li {
                        .title {
                            position: relative;
                            background-color: #ffe110;
                            padding: 6px;
                            font-weight: 600;
                            font-size: 1.1rem;
                            text-align: center;
                            &::before {
                                position: absolute;
                                top: 50%;
                                left: 4px;
                                transform: translateY(-50%);

                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25px;
                                aspect-ratio: 1/1;
                                content: attr(data-index);
                                background-color: white;
                                color: rgb(0, 209, 0);
                                border-radius: 6px;
                            }
                            border-radius: 6px;
                        }
                        .details {
                            padding: 18px 18px 30px 12px;
                            margin-left: 15px;
                            border-left: 2px solid black;
                        }
                        &:last-of-type {
                            .details {
                                border-left: 2px solid transparent;
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .inner {
            position: relative;
            @include mx.center();
            flex-flow: column;
            justify-content: center;
            height: 47px;
            background-color: #eeeeee;
            font-size: 0.7rem;
            ul {
                display: flex;
                li {
                    margin-right: 5px;
                    font-weight: 600;
                    letter-spacing: 0.018rem;
                    &:not(:last-of-type) {
                        margin-right: 8px;
                    }
                }
            }
            .copyLight {
                margin-top: 5px;
                letter-spacing: 0.02rem;
            }
        }
    }

    #FootLineAt {
        @include mx.center();
        position: fixed;
        bottom: 0;
        z-index: 100;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: vrs.$footerHeight;
        border-top: 1px solid rgb(156, 156, 156);
        background-color: white;

        .onlyNow {
            font-size: 0.9rem;
            .line1 {
                display: flex;
                align-items: center;
                // &::before {
                //     display: inline-block;
                //     content: "";
                //     text-align: start;
                //     background-image: url("../assets/present.webp");
                //     background-size: 50px;
                //     background-position: center;
                //     height: 25px;
                //     aspect-ratio: 1/1;
                // }
            }
        }
        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #06c755;
            padding: 4px 34px 4px 8px;
            margin-top: 2px;
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 100px;
            color: white;
            transform: scale(1.5);
            &::before {
                display: inline-block;
                content: "";
                background-image: url("../assets/linelogo.webp");
                background-size: cover;
                height: 25px;
                aspect-ratio: 1/1;
                margin-right: 4px;
            }
            &:after {
                position: absolute;
                top: 44%;
                right: 12px;
                transform: translateY(-50%);
                content: ">";
            }
        }
        .attension {
            font-size: 0.6rem;
            margin-top: 2px;
        }
    }
}

#moveTop {
    position: fixed;
    bottom: 85px;
    right: 10px;
    z-index: 999;
    transform: translate(0%, -50%) rotate(270deg);
    font-weight: 700;
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 2000px;
    padding: 4px 5px 5px 5px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease, bottom 0.3s ease;
    user-select: none;
    &:active {
        background-color: #afafaf;
        transform: translate(0%, -50%) rotate(270deg) scale(0.9);
    }
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
    &.isBottom {
        bottom: 130px;
    }
}

// BREAK POINT 1
@media (min-width: vrs.$breakPoint1) and (max-width: vrs.$breakPoint2) {
    body {
        header {
            // background-color: #c7ffde;
        }
        #KeyVisual {
            height: 270px;
        }
    }
}

// BREAK POINT 2
@media (min-width: vrs.$breakPoint2) {
    body {
        font-size: 20px;
        header {
            // background-color: rgb(199, 193, 255);
            height: vrs.$headerHeight2;
            .left {
                img {
                    width: 85px;
                }
            }
        }
        #KeyVisual {
            height: 500px;
        }
        #Trouble {
            padding: 40px 10px 10px 10px;
            .titles {
                .title {
                    font-size: 1.7rem;
                }
            }
        }
        #About {
            .About_child {
                .title {
                    font-size: 1.4rem;
                }
                .texts {
                    font-size: 1.1rem;
                }
            }
        }
        #Apps {
            .appsSwiper {
                .subTitle {
                    font-size: 1.7rem;
                    line-height: 1.8rem;
                    font-weight: 600;
                    .chonPink {
                        font-size: 2.3rem !important;
                        margin-right: 3px;
                    }
                }
            }
        }
        #Flow {
            .inner {
                .content {
                    .flowTitle {
                        font-size: 1.4rem;
                    }
                    ul {
                        li {
                            .details {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .inner {
                flex-flow: row;
                justify-content: space-between;
                font-size: 0.8rem;
                padding: 0 30px;
                ul {
                    display: flex;
                    li {
                        &:not(:last-of-type) {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
    #moveTop {
        bottom: 85px;
        right: 10px;
        z-index: 999;
        transform: translate(0%, -50%) rotate(270deg);
        font-weight: 700;
        font-size: 1.3rem;
        border: 1px solid black;
        border-radius: 2000px;
        padding: 8px;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease, bottom 0.3s ease;
        user-select: none;
        &:active {
            background-color: #afafaf;
            transform: translate(0%, -50%) rotate(270deg) scale(0.9);
        }
        &.hidden {
            visibility: hidden;
            opacity: 0;
        }
        &.isBottom {
            bottom: 130px;
        }
    }
}
